@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', 'Microsoft JhengHei', Arial, Helvetica, sans-serif, monospace;
  overflow: hidden;
}

#img {
  display: inline-block;
  max-width: 100%;
}